@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css);

body {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
.hero {
  background: url(img/fondo.png) center;
}
header {
  margin: 0;
  padding: 40px 0;
  display: flex;
  justify-content: center;
}
.topbar {
  display: none;
}
.navbar {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 50px;
  border-radius: 5px;
  align-items: center;
  z-index: 2;
  border: 1px solid #efefef;
  position: fixed;
}
.navbar a {
  color: #000;
}
.link1 {
  width: 30%;
  display: flex;
  align-items: center;
}
.list {
  position: relative;
  display: block;
  height: 32px;
  width: 32px;
  margin-left: 25px;
  left: -13px;
  z-index: 4;
  opacity: 0;
  cursor: pointer;
}
.lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 3;
}
.line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #0e2431;
}
.line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}
.line2 {
  transition: transform 0.2s ease-in-out;
}
.line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}
.toggle {
  padding: 60px 40px 0 20px;
  background-color: #fff;
  height: 200px;
  transform: translateX(-200%) translateY(41%);
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease-in-out;
  list-style: none;
  border-radius: 5px;
  position: absolute;
  z-index: 2;
}
.toggle a {
  margin-bottom: 20px;
}
.toggle a:hover {
  color: #5956e9;
}

.list:checked ~ .toggle {
  transform: translateX(0%);
  transform: translateY(41%);
}
.list:checked ~ .lines .line1 {
  transform: rotate(45deg);
}
.list:checked ~ .lines .line2 {
  transform: scaleY(0);
}
.list:checked ~ .lines .line3 {
  transform: rotate(-45deg);
}
.logo {
  display: flex;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 75px 5px #00000020;
  border-radius: 5px;
  justify-content: center;
  padding: 20px 10px;
  z-index: 2;
  width: 30%;
  height: 30px;
  max-width: 150px;
}

.logo img {
  width: 90%;
}
.link2 {
  width: 30%;
  display: flex;
  justify-content: end;
}
.download {
  background-color: #5956e9;
  color: #fff;
  margin: 2px;
  padding: 7px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  display: flex;
}
.download:hover {
  background-color: #6865ee;
  transition: 0.2s;
}
.menu,
.menu2 {
  display: none;
}
.menu a,
.menu2 a {
  transform: translateY(1px);
}
.menu a:hover,
.menu2 a:hover {
  color: #5956e9;
  text-decoration: underline;
  transition: 0.2s;
  transform: translateY(-2px);
}
.hero-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  padding: 100px 0 0 0;
}
.marco {
  border: 10px solid #ffffff60;
  box-sizing: border-box;
  margin: 0 20px 0 40px;
  max-width: 350px;
}
.marco-content {
  background-color: #fff;
  padding: 20px 0;
  margin: 10px 10px 10px -30px;
}
.marco-content h2 {
  color: #5956e9;
  font-weight: 500;
  padding: 0 15px;
  line-height: 35px;
  margin-bottom: 0;
  margin-top: 10px;
  font-size: 25px;
}
.marco-content p {
  color: #767575;
  padding: 0 15px;
  line-height: 25px;
  margin-bottom: 15px;
}
.marco-content h3 {
  padding: 0 15px;
  font-weight: 400;
}
.appstore {
  padding: 0 15px;
  display: flex;
  gap: 10px;
}
.appstore img {
  width: 100px;
}
.hero-phone {
  display: flex;
  justify-content: center;
  margin: 60px 0 120px 0;
}
.img-xl {
  width: 100%;
  max-width: 400px;
  transform: translateX(17.5%);
}

/* ABOUT */

#about h2 {
  text-align: center;
  padding: 0 30px;
  font-weight: 400;
  margin: 60px 0 30px 0;
}
.about-p {
  padding: 0 40px;
  font-weight: 400;
  text-align: center;
  line-height: 25px;
  margin-bottom: 30px;
  color: #767575;
}
.container-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 0 0 0;
}
.creative-div {
  box-shadow: 0 0 5px #a3a3a3;
  max-width: 90%;
  margin: auto;
  border-radius: 5px;
}
.img-about {
  max-width: 60%;
  margin: auto;
}
.creative {
  padding: 50px 0 80px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.creative-div-1 {
  padding: 20px 0 20px 0;
  display: flex;
}
.creative-div-1 img {
  padding: 0 0 0 20px;
  width: 24px;
  height: 24px;
  margin: 0;
}
.creative-div-1 h3 {
  padding: 5px 0 15px 0;
  font-weight: 400;
  margin: 0;
}
.creative-div-1 p {
  color: #767575;
  font-weight: 400;
  margin: 0;
}
.creative-text {
  padding: 0 20px;
}
.about-laptop-p {
  display: none;
}

/* FEATURES */
#features {
  background: url(img/fondo.png) bottom / cover no-repeat;
  padding-bottom: 60px;
}
.feat-container {
  padding-bottom: 60px;
}
.feat-title {
  color: #fff;
  margin: 0;
  padding: 80px 0 35px 0;
}
.txt-center {
  text-align: center;
}
.feat-p {
  color: #fff;
  margin: 0;
  padding: 0 40px;
  text-align: center;
  max-width: 375px;
}
.hidden-p {
  display: none;
}
.laptop-p {
  display: none;
}
.img {
  margin: 35px 0;
}
.feat-subtitle {
  color: #fff;
  margin: 0;
  font-weight: 400;
  padding: 0 0 30px 0;
}
.p2 {
  padding: 0 60px;
}
.feat-container,
.browser-vector,
.phone-eye,
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-xs {
  gap: 60px;
}
.s2 {
  font-size: 20px;
}
.s3 {
  padding: 35px 100px 25px 100px;
  text-align: center;
  line-height: 30px;
  max-width: 200px;
}
.s4 {
  padding: 0 100px 25px 100px;
}

.img-app {
  border-radius: 50px;
  box-shadow: 20px 20px 30px 0px #18303f80;
}

/* TEAM */

#team {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 425px;
  margin: auto;
}
.team-title {
  font-weight: 400;
  margin: 0;
  padding: 80px 0 30px 0;
}
.team-p {
  margin: 0;
  text-align: center;
  color: #767575;
  padding: 0 40px;
  line-height: 25px;
  max-width: 288px;
}
.team-p-tablet {
  display: none;
}
.team-p-laptop {
  display: none;
}
.team-container {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 190px;
  gap: 30px;
}
.card {
  box-shadow: 0 0 5px #d1d1d1;
  padding: 30px 20px 50px 20px;
  margin: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}
.circle {
  position: relative;
  border: 3px solid #5956e9;
  border-radius: 70%;
  padding: 5px;
  display: flex;
  justify-content: center;
  padding: 5px;
  object-fit: contain;
  z-index: 1;
  width: 200px;
  height: 200px;
}
.card img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  position: absolute;
  transform: translateY(7.5px);
}
.top-space,
.bottom-space {
  width: 12px;
  height: 10px;
  background-color: #fff;
  position: absolute;
}
.top-space {
  transform: translateY(-11px);
}
.top-space::before,
.top-space::after,
.bottom-space::before,
.bottom-space::after {
  content: "";
  width: 3px;
  height: 3px;
  background-color: #5956e9;
  position: absolute;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.top-space::before {
  transform: translateY(3.2px) translateX(-1px);
}
.top-space::after {
  transform: translateY(3.2px) translateX(10px) rotate(180deg);
}
.bottom-space {
  bottom: 0;
  transform: translateY(6.75px);
}
.bottom-space::before {
  transform: translateY(3.2px) translateX(-1px) rotate(5deg);
}
.bottom-space::after {
  transform: translateY(3.2px) translateX(10px) rotate(-185deg);
}
.left-space,
.right-space {
  width: 10px;
  height: 10px;
  display: flex;
  justify-content: center;
  background-color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.left-space {
  left: -6.5px;
}
.left-space::before,
.left-space::after {
  content: "";
  width: 3px;
  height: 3px;
  background-color: #5956e9;
  position: absolute;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.left-space::before {
  top: 0;
  transform: translateY(-1px) rotate(97deg);
}
.left-space::after {
  bottom: 0;
  transform: translateY(1px) rotate(263deg);
}
.right-space {
  right: -6.5px;
}
.right-space::before,
.right-space::after {
  content: "";
  width: 3px;
  height: 3px;
  background-color: #5956e9;
  position: absolute;
  top: 0;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.right-space::before {
  transform: translateY(-1px) rotate(83deg);
}
.right-space::after {
  bottom: 0;
  transform: translateY(8px) rotate(277deg);
}
.team-name {
  font-size: 30px;
  padding: 80px 0 10px 0;
}
.ocupation {
  color: #767575;
  font-weight: 400;
  font-size: 20px;
  margin: 0;
}
.description-p {
  text-align: center;
  color: #767575;
  line-height: 25px;
  margin: 0;
  padding: 20px 0px;
  max-width: 290px;
}
.description-p-tablet {
  display: none;
}
.description-p-laptop {
  display: none;
}
.team-social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 0 0 0;
}
.team-social li {
  padding: 0 25px;
}
.icons {
  color: #232233;
  cursor: pointer;
}
.icons:hover {
  color: #5956e9;
  transition: 0.2s;
}
.border-left {
  border-left: 1px solid #8b8b8b;
}


/* FOOTER */

footer {
  background-color: #232233;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 180px 15px 0 15px;
  color: #fff;
}

.footer-info {
  left: 15px;
  right: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  position: absolute;
  top: -130px;
  box-shadow: 0 0 70px 5px #00000020;
  padding: 25px 0 0 0;
}
.footer-msg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icon-circle {
  background-color: #6865ee;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
}
.icon-circle img {
  width: 18px;
  height: 18px;
}
.msg-p {
  display: none;
}
.msg-p-mobile {
  margin: 0;
  text-transform: uppercase;
  padding: 20px 0 15px 0;
  font-size: 20px;
  color: #000;
}
.info-line {
  width: 120px;
  border: 2px solid #232233;
}
.footer-phone {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
}
.phone-p {
  font-size: 20px;
  margin: 0;
  padding: 25px 0 35px 0;
  color: #000;
}
.footer-content {
  display: flex;
  flex-direction: column;
}
.h2-logo {
  margin: 0;
  padding-top: 40px;
  font-size: 30px;
  font-weight: 600;
}
.logo-p {
  margin: 0;
  padding: 15px 15px 40px 0;
  line-height: 25px;
  font-weight: 400;
}
.logo-p-tablet {
  display: none;
}
.logo-p-laptop {
  display: none;
}
.footer-logo-ul {
  display: flex;
  padding-bottom: 40px;
}
.non-border {
  padding: 5px 30px 5px 0;
}
.border-left-ft {
  border-left: 1px solid #fff;
  padding: 5px 30px;
}
.icons-footer {
  color: #fff;
}
.icons-footer:hover {
  color: #5956e9;
}
.footer-quick-link {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.h3-quick-news {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
}
.footer-quick-link-ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 60px;
}
.footer-quick-link-a {
  color: #fff;
}
.news-p {
  margin: 0;
  padding: 25px 0 35px 0;
}

.news-input-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-radius: 5px;
  background-color: #fff;
  max-width: 410px;
}
.input-adress {
  font-family: "josefin sans";
  padding: 15px;
  width: 100%;
  font-size: 15px;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.input-button {
  appearance: none;
  border: none;
  width: 20%;
  height: 45px;
  padding: 0;
  background-color: #5956e9;
  border-radius: 5px;
  margin: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-button:hover {
  background-color: #6865ee;
  transition: 0.2s;
}
.footer-copyright {
  display: flex;
  justify-content: center;
  border-top: 1px solid #fff;
  margin: 60px 0 0 0;
  padding: 20px 0 30px 0;
  width: 100%;
}
.copyright-icon {
  padding: 0 20px 0 15px;
  transform: translateY(-2.5px);
}
.copyright-p {
  margin: 0;
  font-weight: 300;
  font-size: 13px;
}