footer {
  background-color: #232233;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 180px 15px 0 15px;
  color: #fff;
}

.footer-info {
  left: 15px;
  right: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  position: absolute;
  top: -130px;
  box-shadow: 0 0 70px 5px #00000020;
  padding: 25px 0 0 0;
}
.footer-msg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icon-circle {
  background-color: #6865ee;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
}
.icon-circle i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
}
.msg-p {
  display: none;
}
.msg-p-mobile {
  margin: 0;
  text-transform: uppercase;
  padding: 20px 0 15px 0;
  font-size: 20px;
  color: #000;
}
.info-line {
  width: 120px;
  border: 2px solid #232233;
}
.footer-phone {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
}
.phone-p {
  font-size: 20px;
  margin: 0;
  padding: 25px 0 35px 0;
  color: #000;
}
.footer-content {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: auto;
}
.h2-logo {
  margin: 0;
  padding-top: 40px;
  font-size: 30px;
  font-weight: 600;
}
.logo-p {
  margin: 0;
  padding: 15px 15px 40px 0;
  line-height: 25px;
  font-weight: 400;
}
.footer-logo-ul {
  display: flex;
  padding-bottom: 40px;
}
.non-border {
  padding: 5px 30px 5px 0;
}
.border-left-ft {
  border-left: 1px solid #fff;
  padding: 5px 30px;
}
.icons-footer {
  color: #fff;
}
.icons-footer:hover {
  color: #5956e9;
}
.footer-quick-link {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.h3-quick-news {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
}
.footer-quick-link-ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 60px;
}
.footer-quick-link-a {
  color: #fff;
}
.news-p {
  margin: 0;
  padding: 25px 0 35px 0;
}

.news-input-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-radius: 5px;
  background-color: #fff;
  max-width: 410px;
}
.input-adress {
  font-family: "josefin sans";
  padding: 15px;
  width: 100%;
  font-size: 15px;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.input-button {
  appearance: none;
  border: none;
  width: 20%;
  height: 45px;
  padding: 0;
  background-color: #5956e9;
  border-radius: 5px;
  margin: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-button:hover {
  background-color: #6865ee;
  transition: 0.2s;
}
.footer-copyright {
  display: flex;
  justify-content: center;
  border-top: 1px solid #fff;
  margin: 60px 0 0 0;
  padding: 20px 0 30px 0;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}
.copyright-icon {
  padding: 0 20px 0 15px;
  transform: translateY(-2.5px);
}
.copyright-p {
  margin: 0;
  font-weight: 300;
  font-size: 13px;
}

@media (min-width: 768px) {
  footer {
    padding: 100px 35px 0;
    align-items: start;
  }
  .footer-info {
    flex-direction: row;
    height: 100px;
    padding: 25px 0;
    left: 35px;
    right: 35px;
    max-width: 698px;
    margin: auto;
    background-color: #f8f8f8;
    box-shadow: 0 0 100px 10px #00000024;
    top: 0;
    transform: translateY(-80px);
  }
  .footer-msg {
    flex-direction: row;
    justify-content: start;
    width: 100%;
    height: 100%;
    gap: 20px;
  }
  .icon-circle {
    margin: 0 0 0 15px;
    padding: 5px;
  }
  .icon-circle img {
    width: 20px;
    height: 20px;
  }
  .msg-p {
    display: block;
    color: #000;
  }
  .msg-p-mobile {
    display: none;
  }
  .info-line {
    display: none;
  }
  .footer-phone {
    flex-direction: row;
    border-left: 3px solid #6c6c72;
    width: 100%;
    height: 100%;
    padding: 0 0 0 20px;
    justify-content: start;
    gap: 15px;
  }
  .phone-p {
    padding: 0;
    font-size: 16px;
  }
  .footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .h2-logo {
    font-weight: 700;
  }
  .footer-quick-link {
    gap: 30px;
    padding-right: 100px;
  }
  .h3-quick-news {
    padding-top: 40px;
    font-size: 20px;
  }
  .footer-quick-link-ul {
    gap: 25px;
  }


  .logo-p {
    display: block;
    max-width: 230px;
  }
  .non-border {
    padding: 5px 20px 5px 0;
  }
  .border-left-ft {
    padding: 5px 20px;
  }
  .news-p {
    max-width: 220px;
    line-height: 25px;
    padding: 25px 0px 35px 0;
  }
  .news-input-container {
    width: 100%;
    max-width: 220px;
  }
  .input-adress {
    font-size: 12px;
    font-weight: 300;
  }
  .input-button {
    width: 35%;
    margin: 2px;
  }
  .footer-copyright {
    margin: 0;
  }
}

@media (min-width: 1024px) {
  footer {
    padding: 150px 65px 0;
  }
  .footer-logo {
    width: 33.3%;
  }
  .logo-p {
    display: block;
    max-width: 330px;
  }
  .non-border {
    padding: 5px 30px 5px 0;
  }
  .border-left-ft {
    padding: 5px 30px;
  }
  .footer-quick-link {
    padding: 0;
    width: 33.3%;
  }
  .footer-quick-link-ul {
    gap: 20px;
  }
  .footer-news-letter {
    width: 33.3%;
  }
  .news-p {
    max-width: 300px;
  }
  .news-input-container {
    max-width: 100%;
  }
  .input-adress {
    font-size: 14px;
    font-weight: 400;
  }
  .input-button {
    width: 20%;
  }
}

@media (min-width: 1200px) {
  footer {
    padding: 150px 130px 0;
  }
  .footer-content {
    gap: 20px;
  }
  .footer-copyright{
    margin: auto;
  }
}
