@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body{
    margin: 0;
    font-family: "Josefin Sans", sans-serif;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}

.hero{
    z-index: -1;
    background: url(../img/bg.png) center;
}

header{
    margin: 0;
    padding: 40px 0;
    display: flex;
    justify-content: center;
}


.topbar{
    display: none;
}


.navbar{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 50px;
    border-radius: 5px;
    align-items: center;
    z-index: 999;
}
.navbar a{
    color: #000;
}


.list {
    position: relative;
    display: block;
    height: 32px;
    width: 32px;
    margin-left: 25px;
    left: -13px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}


.lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    left: 15px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 3;
}
.line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #0e2431;
}
.line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}
.line2 {
    transition: transform 0.2s ease-in-out;
}
.line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}


.toggle{
    padding: 60px 40px 0 20px;
    background-color: #fff;
    height: 200px;
    transform: translateX(-200%) translateY(41%);
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease-in-out;
    list-style: none;
    border-radius: 5px;
    position: absolute;
    z-index: 2;
}
.toggle a{
    margin-bottom: 20px;
}
.toggle a:hover{
    color: #5956E9;
}


.list:checked ~ .toggle {
    transform: translateX(0%);
    transform: translateY(41%);
}
.list:checked ~ .lines .line1 {
    transform: rotate(45deg);
}
.list:checked ~ .lines .line2 {
    transform: scaleY(0);
}
.list:checked ~ .lines .line3 {
    transform: rotate(-45deg);
}




.logo{
    display: flex;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 75px 5px #00000020;
    border-radius: 5px;
    justify-content: center;
    padding: 20px 10px;
    z-index: 10;
    width: 30%;
    height: 30px;
}

.logo img{
    width: 90%;
}


.download{
    background-color: #5956E9;
    color: #fff ;
    margin: 0 10px 0 0;
    padding: 4px 4px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.download:hover{
    background-color: #6865ee;
    transition: .2s;
}

.download2:hover{
    background-color: #6865ee;
    transition: .2s;
}

.link1{
    width: 30%;
    display: flex;
    align-items: center;
}



.link2{
    width: 30%;
    display: flex;
    justify-content: end;
}

.menu, .menu2{
    display: none;
}

.menu a, .menu2 a{
    transform: translateY(1px);
}

.menu a:hover, .menu2 a:hover{
    color: #5956E9;
    text-decoration: underline;
    transition: .2s;
    transform: translateY(-2px);
}

.hero-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    padding: 100px 0 0 0;
}

.hero-1{

    background-color: #fff;
    padding: 20px 0;
    margin: 10px 10px 10px -30px;
    z-index: 1;
}

.marco{
    border: 10px solid #ffffff60;
    box-sizing: border-box;
    margin: 0 20px 0 40px;
    z-index: 1;
    max-width: 350px;
}

.hero-1 h2{
    color: #5956E9;
    font-weight: 500;
    padding: 0 15px;
    line-height: 35px;
    margin-bottom: 0;
    margin-top: 10px;
    font-size: 25px;
    z-index: 10;
}

.hero-1 p{
    color: #767575;
    padding: 0 15px;
    line-height: 25px;
    margin-bottom: 15px;
}

.hero-1 h3{
    padding: 0 15px;
    font-weight: 400;
}

.appstore{
    padding: 0 15px;
    display: flex;
    gap: 10px;
}

.appstore img{
    width: 100px;
}

.hero-2{
    display: flex;
    justify-content: center;
    margin: 60px 0 120px 0;
}

.img-xs{
    width: 75%;
}

.img-xl{
    display: none;
}


/* ABOUT */

#about h2{
    text-align: center;
    padding: 0 30px;
    font-weight: 400;
    margin: 60px 0 30px 0 ;
}

.first-p{
    padding: 0 40px;
    font-weight: 400;
    text-align: center;
    line-height: 25px;
    margin-bottom: 30px;
    color: #767575;
    
}



.container-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0 0 0;
}

.creative-div{
    box-shadow: 0 0 5px #a3a3a3;
    max-width: 90%;
    margin: auto;
    border-radius: 5px;
}

.creative-div-1 img, .creative-div-1 p, .creative-div-1 h3{
    margin: 0;
}

.creative-div-1 img{
    padding: 0 0 0 20px ;
    width: 24px;
    height: 24px;
}

.creative-div-1 h3{
    padding: 5px 0 15px 0;
    font-weight: 400;
}

.creative-div-1 p{
    color: #767575;
    font-weight: 400;
}

.creative{
    padding: 50px 0 80px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.creative-div-1{
    padding: 20px 0 20px 0;
    display: flex;
}

.creative-text{
    padding: 0 20px;
}

.img-about{
    max-width: 60%;
    margin: auto;
}

.third-p{
    display: none;
}


/* FEATURES */
#features{
    background: url(../img/bg.png) center;
    
}

.mobile-responsive{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 60px 0;
    overflow: hidden;
}

.tablet-responsive{
    display: none;
}

.feat-title{
    color: #fff;
    margin: 0;
    padding: 80px 0 35px 0;
}

.feat-p{
    color: #fff;
    margin: 0;
    padding: 0 40px;
    text-align: center;
    max-width: 375px;
}

.img{
    margin: 35px 0;
}

.feat-subtitle{
    color: #fff;
    margin: 0;
    font-weight: 400;
    padding: 0 0 30px 0;
}

.p2{
    padding: 0 60px;
}

.s2{
    font-size: 20px;
}

.s3{
    padding: 35px 100px 25px 100px;
    text-align: center;
    line-height: 30px;
}

.s4{
    padding: 0 100px 25px 100px;
}

.hidden-p{
    display: none;
}

@media (min-width: 768px) {

    header{
        padding: 0px 40px;
        display: flex;
        flex-direction: column;
    }
    
    .navbar{
        height: 60px;
        position: relative;
        width: 100%;
    }

    .lines{
        left: 15px;
    }

        /* --- Topbar --- */
    .topbar{
        display: flex;
        justify-content: space-between;
        padding: 30px 0
    }
    .topbar img{
        width: 20px;
        height: 20px;
    }
    .contact-topbar{
        display: flex;
        gap: 50px;
        align-items: center;
    }
    .contact-topbar img{
        padding: 0 10px 0 0;
    }
    .topbar p{
        color: #fff;
        padding: 3px 0 0 0;
        margin: 0;
    }
    .topbar ul{
        display: flex;
        gap: 20px;
    }
    .mail{
        display: flex;
    }
    .phone{
        display: flex;
        align-items: center;    
    }


    
    .logo{
        height: 50px;
    }

    .download{
        width: 25%;
    }

    
    .hero-content{
        display: flex;
        flex-direction: row;
        padding: 120px 0 120px 60px;
        justify-content: center;
        gap: 60px;
    }

    .marco{
        width: 100%;
        margin: 0;
        border-width: 20px;
        max-width: 400px;
    }

    .hero-2{
        max-width: 350px;
    }

    .hero-1{
        margin: 15px 20px 15px -40px;
    }

    .hero-1 h2{
        font-weight: 900;
        font-size: 30px;
    }

    .img-xs{
        display: none;
    }

    .img-xl{
        display: flex;
        width: 100%;
    }

    .hero-2{
        justify-content: center;
        margin: 0;
    }


    /* About */

    .container-about{
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: center;
        padding: 60px 0px 60px 50px;
    }

    .img-about{
        margin: 0;
        max-width: 50%;
    }

    .creative{
        max-width: 100%;
    }

    .first-p{
        padding: 0 200px;
        margin: auto;
    }


    /* FEATURES */

    .mobile-responsive{
        display: none;
    }

    .tablet-responsive{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 0 60px 0;
        overflow: hidden;
    }

    .feat-container{

        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
    }

    .hidden-p{
        display: block;
        padding: 0;
        max-width: 450px;
        color: #fff;
        padding: 0 40px;
        text-align: center;
        line-height: 25px;
    }

    .p1{
        display: none;
    }

    .feat-title{
        font-size: 30px;
        padding-top: 120px;
    }

    .feat-p{
        max-width: 250px;
        line-height: 25px;
    }

    .content{
        display: flex;
        flex-direction: row;
        padding: 40px 30px 40px 20px;
    }

    .phone-eye{
        display: flex;
        flex-direction: column;
        align-items: start;
        margin: 20px 0 0 15px;
    }

    

    .browser-vector{
        display: flex;
        flex-direction: column;
        align-items: end;
        margin: 20px 15px 0 0;
    }

    .feat-subtitle{
        padding: 30px 0 0 0;
        text-align: start;
    }

    .feat-p{
        padding: 15px 0;
        text-align: start;
    }

    .img-tablet{
        margin: 0;
    }

    .img-tablet2{
        margin: 0;
    }

    .img-eye{
        padding-top: 25px;
    }

    .s2{
        padding: 30px 0 0 0;
        text-align: end;
    }

    .p3{
        text-align: end;
        padding: 20px 0;
    }

    .h3-browser{
        text-align: center;
    }

    .img-app{
        border-radius: 50px;
    }

    .img-phone{
        width: 50px;
        height: 50px;
    }

}


@media (min-width: 1024px){
    header{
        padding: 0 80px;
    }

    .lines{
        display: none;
    }
    
    .toggle{
        display: none;
    }
    
    .download{
        display: none;
    }

    .link1{
        display: flex;
        position: relative;
    }

    .list{
        display: none;
    }



    .menu{
        display: flex;
        align-items: center;
        padding: 0 0px 0 20px;
        gap: 20px;
    }
    .menu2{
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .link1, .link2{
        width: auto;
    }

    .link1 a,.link2 a{
        padding: 20px 10px;
    }

    .logo{
        width: 20%;
    }

    .download2{
        appearance: none;
        border: none;
        background-color: #5956E9;
        color: #fff;
        padding: 20px 10px;
        margin: 0 5px 0 0;
        border-radius: 5px;
        cursor: pointer;
    }

    .hero-content{
        padding: 120px 0 120px 100px;
        gap: 100px;
    }

    .marco{
        width: 50%;
    }


    /* FEATURES */


    .third-p{
        display: block;
    }

    .second-p{
        display: none;
    }

    .container-about{
        padding-left: 80px;
    }

    .creative-div{
        max-width: 70%;
    }

    .img-about{
        min-width: 30%;
    }
}

@media (min-width: 1200px){

    header{
        padding: 0 140px;
    }
    .menu a, .menu2 a{
        padding: 0 20px;
        font-size: 18px;
    }

    .menu2 button{
        font-size: 18px;
        padding: 15px 15px;
    }

    
}